In [17]:
import pandas as pd,numpy as np
import matplotlib.pyplot as plt,seaborn as sns

In [18]:
nfl_data=pd.read_csv('NFL Play by Play 2009-2017 (v4).csv')
sf_permits = pd.read_csv('Building_Permits.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_2416\1525184058.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_data=pd.read_csv('NFL Play by Play 2009-2017 (v4).csv')
C:\Users\hp\AppData\Local\Temp\ipykernel_2416\1525184058.py:2: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  sf_permits = pd.read_csv('Building_Permits.csv')

In [19]:
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [20]:
sf_permits.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [21]:
nfl_data.columns

Index(['Date', 'GameID', 'Drive', 'qtr', 'down', 'time', 'TimeUnder',
       'TimeSecs', 'PlayTimeDiff', 'SideofField',
       ...
       'yacEPA', 'Home_WP_pre', 'Away_WP_pre', 'Home_WP_post', 'Away_WP_post',
       'Win_Prob', 'WPA', 'airWPA', 'yacWPA', 'Season'],
      dtype='object', length=102)

In [22]:
missing = nfl_data.isnull().sum()

In [23]:
missing[missing>0]

down             61154
time               224
TimeSecs           224
PlayTimeDiff       444
SideofField        528
                 ...
Away_WP_post     26587
Win_Prob         25009
WPA               5541
airWPA          248501
yacWPA          248762
Length: 65, dtype: int64

In [24]:
missing[10:20]

yrdln              840
yrdline100         840
ydstogo              0
ydsnet               0
GoalToGo           840
FirstDown        28811
posteam          24992
DefensiveTeam    24992
desc                 2
PlayAttempted        0
dtype: int64

In [26]:
missing[20:30]

Yards.Gained          0
sp                    0
Touchdown             0
ExPointResult    397578
TwoPointConv     407083
DefTwoPoint      407664
Safety                0
Onsidekick            0
PuntResult       385317
PlayType              0
dtype: int64

In [27]:
missing2 = sf_permits.isnull().sum()

In [28]:
missing2[missing2>0]

Street Number Suffix                      196684
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
dtype: int64

In [29]:
missing2.sum()

2245941

In [30]:
missing.sum()

11505187

In [43]:
nfl_data.shape

(407688, 102)

In [45]:
total_cells = np.product(nfl_data.shape)
total_cells

41584176

In [47]:
percentage = (missing.sum()/total_cells)*100
percentage

27.66722370547874

In [49]:
total_cells2 = np.product(sf_permits.shape)
total_cells2

8552700

In [51]:
percentage2 = (missing2.sum()/total_cells2)*100
percentage2

26.26002315058403

In [53]:
droped = nfl_data.dropna(axis = 1)
droped

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,AwayTeam,Timeout_Indicator,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,TEN,0,3,3,3,3,3,0.0,0.0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407683,2017-12-31,2017123101,29,4,1,0,-4,1,0,0,...,CIN,1,0,3,0,2,0,0.0,0.0,2017
407684,2017-12-31,2017123101,29,4,1,14,-4,1,0,0,...,CIN,0,2,2,0,2,0,0.0,0.0,2017
407685,2017-12-31,2017123101,29,4,1,14,9,1,13,0,...,CIN,0,2,2,0,2,0,0.0,0.0,2017
407686,2017-12-31,2017123101,30,4,1,10,-1,1,-1,0,...,CIN,0,0,2,0,2,0,0.0,0.0,2017
407687,2017-12-31,2017123101,30,4,0,0,-1,1,0,0,...,CIN,0,0,2,0,2,0,0.0,0.0,2017

In [55]:
print('original data:',nfl_data.shape[1])
print('removed data:',droped.shape[1])

original data: 102
removed data: 37

In [57]:
# taking small subset
subset = nfl_data.loc[:,'EPA':'Season'].head()
subset

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [59]:
nfl_data.sample(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
153540,2012-10-28,2012102802,21,4,4.0,01:24,2,84.0,0.0,CLE,...,-2.829674,0.506567,0.493433,0.664703,0.335297,0.493433,-0.158136,0.208319,-0.366455,2012
213284,2013-12-01,2013120108,18,4,2.0,09:45,10,585.0,6.0,STL,...,-0.544902,0.940105,0.059895,0.948066,0.051934,0.059895,-0.007961,-0.003155,-0.004806,2013
43566,2010-01-03,2010010312,20,4,2.0,15:00,15,900.0,0.0,KC,...,NaN,0.385302,0.614698,0.359244,0.640756,0.614698,0.026058,NaN,NaN,2009
187632,2013-09-22,2013092205,11,2,4.0,01:43,2,1903.0,2.0,NYJ,...,NaN,0.766373,0.233627,0.737712,0.262288,0.766373,-0.028661,NaN,NaN,2013
158479,2012-11-11,2012111103,9,2,1.0,02:46,3,1966.0,31.0,BUF,...,NaN,0.879374,0.120626,0.884404,0.115596,0.120626,-0.005030,NaN,NaN,2012
193713,2013-10-10,2013101000,5,1,1.0,00:48,1,2748.0,0.0,NYG,...,NaN,0.558313,0.441687,0.540008,0.459992,0.558313,-0.018305,NaN,NaN,2013
267682,2014-12-22,2014122200,11,2,1.0,07:56,8,2276.0,0.0,DEN,...,NaN,0.827439,0.172561,0.830916,0.169084,0.172561,-0.003478,NaN,NaN,2014
159374,2012-11-11,2012111106,7,2,NaN,06:27,7,2187.0,5.0,NO,...,NaN,0.427055,0.572945,0.431320,0.568680,0.572945,-0.004265,NaN,NaN,2012
255222,2014-11-23,2014112302,22,3,NaN,03:02,4,1082.0,0.0,CHI,...,NaN,0.855819,0.144181,0.857731,0.142269,0.144181,-0.001912,NaN,NaN,2014
223002,2013-12-29,2013122911,18,4,NaN,10:44,11,644.0,4.0,TEN,...,NaN,0.831264,0.168736,0.831627,0.168373,0.168736,-0.000363,NaN,NaN,2013

In [61]:
filling_data = nfl_data.loc[:,'EPA':'Season'].fillna('0').head()
filling_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0,0,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0,0,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.40276,0,0,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0,0,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0,0,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0,0,2009

In [63]:
filling_data = nfl_data.loc[:,'EPA':'Season'].fillna(method = 'bfill').head(5)
filling_data  #

C:\Users\hp\AppData\Local\Temp\ipykernel_2416\285033583.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  filling_data = nfl_data.loc[:,'EPA':'Season'].fillna(method = 'bfill').head(5)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,-0.343085,0.163935,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,-0.010456,0.006029,2009

In [65]:
sf_permits.fillna(method = 'bfill', axis=0).fillna("0")

C:\Users\hp\AppData\Local\Temp\ipykernel_2416\3625929214.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sf_permits.fillna(method = 'bfill', axis=0).fillna("0")

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,A,Ellis,St,...,3.0,constr type 3,1.0,constr type 1,Y,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,A,Geary,St,...,3.0,constr type 3,1.0,constr type 1,Y,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,A,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,Y,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,A,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,A,Market,St,...,3.0,constr type 3,1.0,constr type 1,Y,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,0,Montgomery,St,...,5.0,wood frame (5),5.0,wood frame (5),0,0,0,0,0,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,0,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),0,0,0,0,0,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,0,Indiana,St,...,0,0,0,0,0,0,0,0,0,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,0,Sutter,St,...,0,0,0,0,0,0,0,0,0,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,0,Pacific,Av,...,0,0,0,0,0,0,0,0,0,1489796283803

In [76]:
subset.fillna(subset.mean(),inplace= True)
subset

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,1.125336,-1.942674,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.037209,-0.059670,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,1.125336,-1.942674,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.037209,-0.059670,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,1.125336,-1.942674,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.037209,-0.059670,2009